USE [master]
GO
/****** Object:  Database [ProductionDB]    Script Date: 06.05.2026 13:41:57 ******/
CREATE DATABASE [ProductionDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProductionDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\ProductionDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProductionDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\ProductionDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProductionDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProductionDB]
GO
/****** Object:  Table [dbo].[audit_log]    Script Date: 06.05.2026 13:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[entity_type] [nvarchar](50) NOT NULL,
	[entity_id] [int] NOT NULL,
	[action] [nvarchar](100) NOT NULL,
	[old_value] [nvarchar](max) NULL,
	[new_value] [nvarchar](max) NULL,
	[changed_by] [int] NULL,
	[changed_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[batch_step_executions]    Script Date: 06.05.2026 13:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[batch_step_executions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NOT NULL,
	[step_order] [int] NOT NULL,
	[step_name] [nvarchar](100) NOT NULL,
	[planned_temp_c] [decimal](5, 1) NULL,
	[actual_temp_c] [decimal](5, 1) NULL,
	[planned_duration_min] [int] NULL,
	[actual_duration_min] [int] NULL,
	[planned_pressure_bar] [decimal](4, 1) NULL,
	[actual_pressure_bar] [decimal](4, 1) NULL,
	[deviation_flag] [bit] NOT NULL,
	[operator_comment] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[batches]    Script Date: 06.05.2026 13:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[batches](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_number] [nvarchar](50) NOT NULL,
	[order_id] [int] NOT NULL,
	[start_time] [datetime2](7) NULL,
	[end_time] [datetime2](7) NULL,
	[status_id] [int] NOT NULL,
	[actual_quantity_kg] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lab_tests]    Script Date: 06.05.2026 13:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lab_tests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NOT NULL,
	[analysis_date] [datetime2](7) NOT NULL,
	[sample_type] [nvarchar](50) NOT NULL,
	[parameter_name] [nvarchar](100) NOT NULL,
	[measured_value] [decimal](10, 3) NOT NULL,
	[standard_value] [nvarchar](100) NOT NULL,
	[unit] [nvarchar](20) NULL,
	[result] [nvarchar](20) NOT NULL,
	[decision] [nvarchar](20) NULL,
	[analyst_comment] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[production_orders]    Script Date: 06.05.2026 13:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[production_orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_number] [nvarchar](50) NOT NULL,
	[recipe_id] [int] NOT NULL,
	[planned_quantity_kg] [decimal](10, 2) NOT NULL,
	[status_id] [int] NOT NULL,
	[planned_start_date] [date] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 06.05.2026 13:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NULL,
	[name] [nvarchar](255) NOT NULL,
	[type] [nvarchar](100) NULL,
	[form] [nvarchar](100) NULL,
	[status_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[raw_materials]    Script Date: 06.05.2026 13:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[raw_materials](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[material_type] [nvarchar](100) NULL,
	[unit] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recipe_components]    Script Date: 06.05.2026 13:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recipe_components](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[recipe_version_id] [int] NOT NULL,
	[raw_material_id] [int] NOT NULL,
	[percentage] [decimal](5, 2) NOT NULL,
	[load_order] [int] NULL,
	[tolerance_min] [decimal](5, 2) NULL,
	[tolerance_max] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recipe_versions]    Script Date: 06.05.2026 13:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recipe_versions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[version] [int] NOT NULL,
	[status_id] [int] NOT NULL,
	[created_by] [int] NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[approved_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 06.05.2026 13:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[statuses]    Script Date: 06.05.2026 13:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[statuses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[entity_type] [nvarchar](50) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 06.05.2026 13:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](150) NOT NULL,
	[role_id] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[batch_step_executions] ON 

INSERT [dbo].[batch_step_executions] ([id], [batch_id], [step_order], [step_name], [planned_temp_c], [actual_temp_c], [planned_duration_min], [actual_duration_min], [planned_pressure_bar], [actual_pressure_bar], [deviation_flag], [operator_comment]) VALUES (1, 1, 1, N'Смешивание', CAST(45.0 AS Decimal(5, 1)), CAST(44.8 AS Decimal(5, 1)), 30, 32, CAST(1.5 AS Decimal(4, 1)), CAST(1.5 AS Decimal(4, 1)), 0, N'OK')
INSERT [dbo].[batch_step_executions] ([id], [batch_id], [step_order], [step_name], [planned_temp_c], [actual_temp_c], [planned_duration_min], [actual_duration_min], [planned_pressure_bar], [actual_pressure_bar], [deviation_flag], [operator_comment]) VALUES (2, 1, 2, N'Выдержка', CAST(60.0 AS Decimal(5, 1)), CAST(59.5 AS Decimal(5, 1)), 120, 118, CAST(2.0 AS Decimal(4, 1)), CAST(1.9 AS Decimal(4, 1)), 0, N'Незначительное отклонение')
INSERT [dbo].[batch_step_executions] ([id], [batch_id], [step_order], [step_name], [planned_temp_c], [actual_temp_c], [planned_duration_min], [actual_duration_min], [planned_pressure_bar], [actual_pressure_bar], [deviation_flag], [operator_comment]) VALUES (3, 1, 3, N'Экструзия', CAST(80.0 AS Decimal(5, 1)), CAST(78.2 AS Decimal(5, 1)), 45, 47, CAST(3.0 AS Decimal(4, 1)), CAST(2.8 AS Decimal(4, 1)), 1, N'Температура ниже нормы')
SET IDENTITY_INSERT [dbo].[batch_step_executions] OFF
GO
SET IDENTITY_INSERT [dbo].[batches] ON 

INSERT [dbo].[batches] ([id], [batch_number], [order_id], [start_time], [end_time], [status_id], [actual_quantity_kg]) VALUES (1, N'B-2401-01', 1, CAST(N'2025-03-01T08:00:00.0000000' AS DateTime2), CAST(N'2025-03-01T14:30:00.0000000' AS DateTime2), 11, CAST(998.00 AS Decimal(10, 2)))
INSERT [dbo].[batches] ([id], [batch_number], [order_id], [start_time], [end_time], [status_id], [actual_quantity_kg]) VALUES (2, N'B-2401-02', 1, CAST(N'2025-03-02T08:15:00.0000000' AS DateTime2), CAST(N'2025-03-02T15:00:00.0000000' AS DateTime2), 11, CAST(1002.00 AS Decimal(10, 2)))
INSERT [dbo].[batches] ([id], [batch_number], [order_id], [start_time], [end_time], [status_id], [actual_quantity_kg]) VALUES (3, N'B-2402-01', 2, CAST(N'2025-03-03T09:00:00.0000000' AS DateTime2), NULL, 10, CAST(250.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[batches] OFF
GO
SET IDENTITY_INSERT [dbo].[lab_tests] ON 

INSERT [dbo].[lab_tests] ([id], [batch_id], [analysis_date], [sample_type], [parameter_name], [measured_value], [standard_value], [unit], [result], [decision], [analyst_comment]) VALUES (1, 1, CAST(N'2025-03-01T15:00:00.0000000' AS DateTime2), N'готовая продукция', N'концентрация', CAST(98.200 AS Decimal(10, 3)), N'97', N'%', N'pass', N'approved', N'Соответствует норме')
INSERT [dbo].[lab_tests] ([id], [batch_id], [analysis_date], [sample_type], [parameter_name], [measured_value], [standard_value], [unit], [result], [decision], [analyst_comment]) VALUES (2, 1, CAST(N'2025-03-01T08:30:00.0000000' AS DateTime2), N'сырье', N'влажность', CAST(2.100 AS Decimal(10, 3)), N'2.5', N'%', N'pass', N'approved', N'OK')
INSERT [dbo].[lab_tests] ([id], [batch_id], [analysis_date], [sample_type], [parameter_name], [measured_value], [standard_value], [unit], [result], [decision], [analyst_comment]) VALUES (3, 2, CAST(N'2025-03-02T15:30:00.0000000' AS DateTime2), N'готовая продукция', N'концентрация', CAST(96.500 AS Decimal(10, 3)), N'97', N'%', N'fail', N'blocked', N'Низкая концентрация')
SET IDENTITY_INSERT [dbo].[lab_tests] OFF
GO
SET IDENTITY_INSERT [dbo].[production_orders] ON 

INSERT [dbo].[production_orders] ([id], [order_number], [recipe_id], [planned_quantity_kg], [status_id], [planned_start_date], [created_by], [created_at]) VALUES (1, N'PO-2401', 1, CAST(1000.00 AS Decimal(10, 2)), 7, CAST(N'2025-03-01' AS Date), 1, CAST(N'2026-05-06T13:40:31.0677367' AS DateTime2))
INSERT [dbo].[production_orders] ([id], [order_number], [recipe_id], [planned_quantity_kg], [status_id], [planned_start_date], [created_by], [created_at]) VALUES (2, N'PO-2402', 2, CAST(500.00 AS Decimal(10, 2)), 6, CAST(N'2025-03-03' AS Date), 1, CAST(N'2026-05-06T13:40:31.0677367' AS DateTime2))
INSERT [dbo].[production_orders] ([id], [order_number], [recipe_id], [planned_quantity_kg], [status_id], [planned_start_date], [created_by], [created_at]) VALUES (3, N'PO-2403', 4, CAST(2000.00 AS Decimal(10, 2)), 5, CAST(N'2025-03-10' AS Date), 1, CAST(N'2026-05-06T13:40:31.0677367' AS DateTime2))
SET IDENTITY_INSERT [dbo].[production_orders] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [code], [name], [type], [form], [status_id]) VALUES (1, NULL, N'Гербицид А', N'Не указан', N'Не указана', NULL)
INSERT [dbo].[products] ([id], [code], [name], [type], [form], [status_id]) VALUES (2, NULL, N'Инсектицид Б', N'Не указан', N'Не указана', NULL)
INSERT [dbo].[products] ([id], [code], [name], [type], [form], [status_id]) VALUES (3, NULL, N'Фунгицид В', N'Не указан', N'Не указана', NULL)
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[raw_materials] ON 

INSERT [dbo].[raw_materials] ([id], [code], [name], [material_type], [unit]) VALUES (1, N'RM001', N'Активное вещество X', N'Действующее', N'кг')
INSERT [dbo].[raw_materials] ([id], [code], [name], [material_type], [unit]) VALUES (2, N'RM002', N'Эмульгатор Y', N'Вспомогательное', N'кг')
SET IDENTITY_INSERT [dbo].[raw_materials] OFF
GO
SET IDENTITY_INSERT [dbo].[recipe_components] ON 

INSERT [dbo].[recipe_components] ([id], [recipe_version_id], [raw_material_id], [percentage], [load_order], [tolerance_min], [tolerance_max]) VALUES (1, 1, 1, CAST(50.00 AS Decimal(5, 2)), 1, NULL, NULL)
INSERT [dbo].[recipe_components] ([id], [recipe_version_id], [raw_material_id], [percentage], [load_order], [tolerance_min], [tolerance_max]) VALUES (2, 1, 2, CAST(50.00 AS Decimal(5, 2)), 2, NULL, NULL)
INSERT [dbo].[recipe_components] ([id], [recipe_version_id], [raw_material_id], [percentage], [load_order], [tolerance_min], [tolerance_max]) VALUES (3, 2, 1, CAST(100.00 AS Decimal(5, 2)), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[recipe_components] OFF
GO
SET IDENTITY_INSERT [dbo].[recipe_versions] ON 

INSERT [dbo].[recipe_versions] ([id], [product_id], [version], [status_id], [created_by], [is_active], [created_at], [approved_at]) VALUES (1, 1, 1, 2, NULL, 1, CAST(N'2025-01-10T09:00:00.0000000' AS DateTime2), CAST(N'2025-01-10T09:00:00.0000000' AS DateTime2))
INSERT [dbo].[recipe_versions] ([id], [product_id], [version], [status_id], [created_by], [is_active], [created_at], [approved_at]) VALUES (2, 1, 2, 2, NULL, 1, CAST(N'2025-01-18T11:15:00.0000000' AS DateTime2), CAST(N'2025-01-18T11:15:00.0000000' AS DateTime2))
INSERT [dbo].[recipe_versions] ([id], [product_id], [version], [status_id], [created_by], [is_active], [created_at], [approved_at]) VALUES (3, 2, 2, 2, NULL, 1, CAST(N'2025-01-12T10:30:00.0000000' AS DateTime2), CAST(N'2025-01-12T10:30:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[recipe_versions] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [name]) VALUES (3, N'Аппаратчик')
INSERT [dbo].[roles] ([id], [name]) VALUES (2, N'Лаборант')
INSERT [dbo].[roles] ([id], [name]) VALUES (1, N'Технолог')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[statuses] ON 

INSERT [dbo].[statuses] ([id], [entity_type], [name], [is_active]) VALUES (1, N'recipe', N'draft', 1)
INSERT [dbo].[statuses] ([id], [entity_type], [name], [is_active]) VALUES (2, N'recipe', N'active', 1)
INSERT [dbo].[statuses] ([id], [entity_type], [name], [is_active]) VALUES (3, N'recipe', N'archived', 1)
SET IDENTITY_INSERT [dbo].[statuses] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [login], [password_hash], [full_name], [role_id], [is_active]) VALUES (1, N'ivanov', N'hash1', N'Иванов И.И.', 1, 1)
INSERT [dbo].[users] ([id], [login], [password_hash], [full_name], [role_id], [is_active]) VALUES (2, N'petrova', N'hash2', N'Петрова А.С.', 2, 1)
INSERT [dbo].[users] ([id], [login], [password_hash], [full_name], [role_id], [is_active]) VALUES (3, N'sidorov', N'hash3', N'Сидоров В.К.', 3, 1)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__batches__56E3783726B9960E]    Script Date: 06.05.2026 13:41:57 ******/
ALTER TABLE [dbo].[batches] ADD UNIQUE NONCLUSTERED 
(
	[batch_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_batches_status]    Script Date: 06.05.2026 13:41:57 ******/
CREATE NONCLUSTERED INDEX [IX_batches_status] ON [dbo].[batches]
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_lab_tests_batch]    Script Date: 06.05.2026 13:41:57 ******/
CREATE NONCLUSTERED INDEX [IX_lab_tests_batch] ON [dbo].[lab_tests]
(
	[batch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__producti__730E34DF164C9170]    Script Date: 06.05.2026 13:41:57 ******/
ALTER TABLE [dbo].[production_orders] ADD UNIQUE NONCLUSTERED 
(
	[order_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__raw_mate__357D4CF9110722E3]    Script Date: 06.05.2026 13:41:57 ******/
ALTER TABLE [dbo].[raw_materials] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_recipe_product_version]    Script Date: 06.05.2026 13:41:57 ******/
ALTER TABLE [dbo].[recipe_versions] ADD  CONSTRAINT [UQ_recipe_product_version] UNIQUE NONCLUSTERED 
(
	[product_id] ASC,
	[version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_recipe_versions_product_active]    Script Date: 06.05.2026 13:41:57 ******/
CREATE NONCLUSTERED INDEX [IX_recipe_versions_product_active] ON [dbo].[recipe_versions]
(
	[product_id] ASC
)
WHERE ([is_active]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__72E12F1B4829AC45]    Script Date: 06.05.2026 13:41:57 ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_statuses]    Script Date: 06.05.2026 13:41:57 ******/
ALTER TABLE [dbo].[statuses] ADD  CONSTRAINT [UQ_statuses] UNIQUE NONCLUSTERED 
(
	[entity_type] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__7838F272B084D0A0]    Script Date: 06.05.2026 13:41:57 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[audit_log] ADD  DEFAULT (sysdatetime()) FOR [changed_at]
GO
ALTER TABLE [dbo].[batch_step_executions] ADD  DEFAULT ((0)) FOR [deviation_flag]
GO
ALTER TABLE [dbo].[batches] ADD  DEFAULT ((0)) FOR [actual_quantity_kg]
GO
ALTER TABLE [dbo].[production_orders] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[recipe_versions] ADD  DEFAULT ((0)) FOR [is_active]
GO
ALTER TABLE [dbo].[recipe_versions] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[statuses] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[audit_log]  WITH CHECK ADD FOREIGN KEY([changed_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[batch_step_executions]  WITH CHECK ADD FOREIGN KEY([batch_id])
REFERENCES [dbo].[batches] ([id])
GO
ALTER TABLE [dbo].[batches]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[production_orders] ([id])
GO
ALTER TABLE [dbo].[batches]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[statuses] ([id])
GO
ALTER TABLE [dbo].[lab_tests]  WITH CHECK ADD FOREIGN KEY([batch_id])
REFERENCES [dbo].[batches] ([id])
GO
ALTER TABLE [dbo].[production_orders]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[production_orders]  WITH CHECK ADD FOREIGN KEY([recipe_id])
REFERENCES [dbo].[recipe_versions] ([id])
GO
ALTER TABLE [dbo].[production_orders]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[statuses] ([id])
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[statuses] ([id])
GO
ALTER TABLE [dbo].[recipe_components]  WITH CHECK ADD FOREIGN KEY([raw_material_id])
REFERENCES [dbo].[raw_materials] ([id])
GO
ALTER TABLE [dbo].[recipe_components]  WITH CHECK ADD FOREIGN KEY([recipe_version_id])
REFERENCES [dbo].[recipe_versions] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[recipe_versions]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[recipe_versions]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[recipe_versions]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[statuses] ([id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[recipe_components]  WITH CHECK ADD CHECK  (([percentage]>(0) AND [percentage]<=(100)))
GO
/****** Object:  StoredProcedure [dbo].[usp_AddLabTest]    Script Date: 06.05.2026 13:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_AddLabTest]
    @batch_id INT, @sample_type NVARCHAR(50), @parameter_name NVARCHAR(100), @measured_value DECIMAL(10,3),
    @standard_value NVARCHAR(100), @unit NVARCHAR(20), @result NVARCHAR(20), @decision NVARCHAR(20) = NULL,
    @analyst_comment NVARCHAR(500) = NULL, @user_id INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;
        INSERT INTO dbo.lab_tests (batch_id, analysis_date, sample_type, parameter_name, measured_value, standard_value, unit, result, decision, analyst_comment)
        VALUES (@batch_id, SYSDATETIME(), @sample_type, @parameter_name, @measured_value, @standard_value, @unit, @result, @decision, @analyst_comment);
        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_ApproveRecipe]    Script Date: 06.05.2026 13:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 5. ХРАНИМЫЕ ПРОЦЕДУРЫ
-- ============================================================

CREATE   PROCEDURE [dbo].[usp_ApproveRecipe] @recipe_id INT, @user_id INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;
        DECLARE @active_status_id INT;
        SELECT @active_status_id = id FROM dbo.statuses WHERE entity_type = 'recipe' AND name = 'active';
        UPDATE dbo.recipe_versions SET status_id = @active_status_id WHERE id = @recipe_id;
        INSERT INTO dbo.audit_log (entity_type, entity_id, action, new_value, changed_by)
        VALUES ('recipe', @recipe_id, 'approve', N'Статус: active', @user_id);
        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CompleteBatchStep]    Script Date: 06.05.2026 13:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_CompleteBatchStep]
    @step_id INT, @actual_temp DECIMAL(5,1), @actual_duration INT, @actual_pressure DECIMAL(4,1), @comment NVARCHAR(500), @user_id INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;
        UPDATE dbo.batch_step_executions
        SET actual_temp_c = @actual_temp,
            actual_duration_min = @actual_duration,
            actual_pressure_bar = @actual_pressure,
            operator_comment = @comment,
            deviation_flag = CASE
                WHEN ABS(@actual_temp - planned_temp_c) > 2.0 THEN 1
                WHEN ABS(@actual_duration - planned_duration_min) > 5 THEN 1
                WHEN ABS(@actual_pressure - planned_pressure_bar) > 0.5 THEN 1
                ELSE 0
            END
        WHERE id = @step_id;
        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CreateProductionOrder]    Script Date: 06.05.2026 13:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_CreateProductionOrder]
    @order_number NVARCHAR(50), @recipe_id INT, @planned_qty DECIMAL(10,2), @start_date DATE, @user_id INT
AS
BEGIN
    SET NOCOUNT ON;
    IF NOT EXISTS (SELECT 1 FROM dbo.recipe_versions WHERE id = @recipe_id AND status_id = (SELECT id FROM dbo.statuses WHERE entity_type='recipe' AND name='active'))
    BEGIN
        ;THROW 50005, 'Рецептура не утверждена или не активна.', 1;
    END
    BEGIN TRY
        BEGIN TRAN;
        DECLARE @status_id INT;
        SELECT @status_id = id FROM dbo.statuses WHERE entity_type='order' AND name='planned';
        INSERT INTO dbo.production_orders (order_number, recipe_id, planned_quantity_kg, status_id, planned_start_date, created_by)
        VALUES (@order_number, @recipe_id, @planned_qty, @status_id, @start_date, @user_id);
        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_DecisionLabTest]    Script Date: 06.05.2026 13:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_DecisionLabTest] @test_id INT, @decision NVARCHAR(20), @comment NVARCHAR(500), @user_id INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;
        IF @decision = 'blocked' AND (@comment IS NULL OR LEN(@comment) = 0)
        BEGIN
            ;THROW 50006, 'Комментарий обязателен при блокировке.', 1;
        END
        UPDATE dbo.lab_tests
        SET decision = @decision,
            analyst_comment = CASE WHEN @comment IS NOT NULL THEN @comment ELSE analyst_comment END
        WHERE id = @test_id;
        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_StartBatchStep]    Script Date: 06.05.2026 13:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_StartBatchStep] @step_id INT, @user_id INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;
        DECLARE @status_id INT;
        SELECT @status_id = id FROM dbo.statuses WHERE entity_type='batch' AND name='running';
        UPDATE dbo.batches SET status_id = @status_id WHERE id = (SELECT batch_id FROM dbo.batch_step_executions WHERE id = @step_id);
        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        THROW;
    END CATCH
END
GO
USE [master]
GO
